 <form method = "POST" action = "/" >
 	<input type="text" name="name"
 	placeholder="Player 1 Name">
 	<input type = "text" name= "name2"
 	placeholder="Player 2 Name">


 	<select name="weapon">
 		<option value="rock">Rock</option>
 		<option value="paper">Paper</option>
 		<option value="scissors">Scissors</
 		option>
 	</select>

 <select name="weapon2">
 		<option value="rock">Rock</option>
 		<option value="paper">Paper</option>
 		<option value="scissors">Scissors</
 		option>
 	</select>

 	<input type="submit" value="SHOOT">
 </form>